<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585827618290-ilsoshvvmh9rffsj9t15h03r34c08kcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585827618290-ilsoshvvmh9rffsj9t15h03r34c08kcf</string>
	<key>API_KEY</key>
	<string>AIzaSyDvi6bzOoegCoxx_MqwLqKOI5GNBzNFqUE</string>
	<key>GCM_SENDER_ID</key>
	<string>585827618290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nikandr.TaxiFYI</string>
	<key>PROJECT_ID</key>
	<string>taxifyi-1555847816343</string>
	<key>STORAGE_BUCKET</key>
	<string>taxifyi-1555847816343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585827618290:ios:b661a20f1c247047</string>
	<key>DATABASE_URL</key>
	<string>https://taxifyi-1555847816343.firebaseio.com</string>
</dict>
</plist>